@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;900&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&family=Red+Rose:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 11rem;
    cursor: pointer;
}

.nav-item:hover {
    color: #FE5E35;
    cursor: pointer;
    font-weight: bold;
}

.nav-item {
    font-weight: 100;
    margin-right: 60px;
}

.active-item {
    font-weight: bold;
    color: #FE5E35;
}

.image2 {
    height: 40px;
}

.intro-section {
    display: flex;
    flex-direction: row;
}

.left-section {
    margin-top: 50px;
    margin-left: 60px;
}

h3 {
    font-size: 35px;
    font-weight: 100;
}

.image3 {
    height: 33px;
}

h1 {
    font-size: 70px;
    font-family: 'Fredoka one';
}

.sub-headlines {
    margin-top: 30px;
}

.sub-headlines img {
    border: 1px solid #FE5E35;
    border-radius: 50%;
    background-color: #FE5E35;
    padding: 5px 5px;
    margin-left: 70px;
    height: 15px;
    margin-top: 10px;
}

.sub-headline {
    font-size: 25px;
    font-weight: 100;
}

h5 span {
    margin-left: 10px;
}

.text {
    color: #AFAFAF;
    margin-top: 40px;
    font-size: 13px;
}

.action-btns {
    margin-top: 30px;   
}

.action-btn {
    border-radius: 30px;
    background: #FE5E35;
    padding: 15px 25px;
    color: #fff;
    font-size: 17px;
    border: none;
}

.headphone {
    height: 25rem;
    top: 0;
    right: 0%;
    position: absolute;
    margin-top: 7rem;
    margin-right: 8rem;
    z-index: -1;
}

.discount {
    right: 0%;
    height: 7.5rem;
    position: fixed;
    margin-top: 16rem;
    margin-right: 28rem;
}

.discount-content {
    right: 0;
    position: absolute;
    margin-top: 17.5rem;
    margin-right: 29.4rem;
    text-align: center;
    color: #fff;
}

.discount-content h4 {
    font-size: 12px;
}

.discount-content h1 {
    font-size: 37px;
}

.dots {
    display: flex;
    flex-direction: row;
    right: 0%;
    position: absolute;
    margin-top: 27rem;
    margin-right: 16rem;
}

.yellow-dot {
    background-color: #FBD104;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.tomato-dot {
    background-color: #FE5E35;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.black-dot {
    background-color: #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.action-btn1 {
    border-radius: 30px;
    background: #FE5E35;
    padding: 15px 25px;
    color: #fff;
    font-size: 17px;
    border: none;
    bottom: 0;
    position: absolute;
    margin-bottom: 60px;
    margin-left: 16.5rem;
}

@media screen and (max-width: 1150px) {
    .headphone{
        height: 15rem;
    }
    .action-btn1 {
        display: none;
    }
    .image2 {
        height: 20px;
    }
    .discount {
        display: none;
    }
    .discount-content {
        display: none;
    }
    .dots {
      display: none;
    }
    .nav-items {
        font-size: 15px;
    }
    .Logo {
        height: 30px;
    }
    .left-section h3 {
        font-size: 20px;
    }
    .image3 {
        height: 15px;
    }
    .left-section h1 {
        font-size: 30px;
    }
    .sub-headline img {
        height: 8px;
    }
    h5 span {
        font-size: 15px;
    }
    .text {
        font-size: 9px;
    }
}